.codenames-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  width: 100%;
  position: relative;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  z-index: -1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  background-color: rgba(244, 244, 244, 0.8);
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
}

.button {
  width: 120px;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #2f6a4f;
  color: white;
  border-radius: 5px;
  transition: background 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.button:hover {
  background-color: #1e4f36;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-content {
  flex-grow: 1;
  margin-left: 150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  width: calc(100% - 150px);
}

.textbox {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  width: 70%;
  height: 80%;
  padding: 20px;
  resize: none;
  box-sizing: border-box;
  margin: 0 auto;
}

.textbox.full-height:focus {
  border-color: #007bff;
  transition: border-color 0.3s ease;
}

.copy-notification {
  position: fixed;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
